.placeholder-div{
  position:relative;
  height: 300px; 
  width: 100%;
  background-color: hsla(39, 100%, 2%, 0.23);
  border: 1px solid hsla(39, 100%, 2%, 0.36);
  overflow:hidden;
  cursor: pointer;
  border-radius: 25px;
}
.show-buy-options:hover > .buy-ticket{
  bottom: 6px;
}

.buy-ticket{
  position:absolute;
  bottom:-30px;
  width:100%;
  height:30px;
  background-color: transparent;
  -webkit-transition: bottom 0.5s ease;
  -moz-transition: bottom 0.5s ease;
  -o-transition: bottom 0.5s ease;
  -ms-transition: bottom 0.5s ease;
  transition: bottom 0.5s ease;
}

.btn-circle {
  width: 50px;
  height: 50px;
  padding: 10px 15px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.1;
}

.buy-button{
  background-color: #292F2F;
  border-radius: 10px;
  color: #fff;
}

.remove-btn{
  background-color: #D01515;
  color: #fff;
}

.add-btn{
  background-color: #1B8147;
  color: #fff;
}